/* Global */

a {
    text-decoration: none;
    color: inherit;
}

.center-align-objects, .center-objects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.center-objects {
    justify-content: space-between;
}

section {
    padding-top: 94px;
}

/* Navbar */

.navbar {
    padding: 1.5rem 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav {
    padding-top: 1.5rem;
    margin-left: 1rem;
}

@media (min-width: 768px) {
    .navbar-nav {
        padding-top: 0;
        gap: 3rem;
        font-size: 1.2rem;
    }
    .navbar-expand-md .navbar-collapse {
    flex-direction: column;
    align-items: flex-end;
    }
}

/* Introduction */

.image-card {
    height: 400px;
}

.image-card img {
    border-radius: 0.5rem;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

#introduction .card {
    width: 100%;
    padding: 35px;
    border-radius: 0.5rem;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.buttons-container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
}

.social-link-container {
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 10px;
    margin-top: .5rem;
}

.social-icon {
    font-size: 2.2rem;
    border-radius: 50%;
    background-color: rgba(0,0,0,.2);
    width: 3.5rem;
    aspect-ratio:  1/1;
}

.social-icon i {
    width: inherit;
    line-height: 56px;
}


@media (min-width: 768px) {
    .image-card {
        height: 100%;
    }
}

/* Resume */

.resume-card-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 4vw 0;
    position: relative;
}

.timeline-point-left, .timeline-point-right {
    display: none !important;
}

@media (min-width: 576px) {
    .timeline-left {
        border-left: 3px solid red;
        padding-left: 5vw;
    }
    
    .timeline-right {
        border-right: 3px solid red;
        padding-right: 5vw;
    }
    
    .timeline-point-left, .timeline-point-right {
        display: inline-block !important;
        position: absolute;
        font-size: 2.5rem;
        bottom: calc(50% - 10px);
    }
    
    .timeline-point-left {
        left: calc(-5vw - 28px);
    }
    
    .timeline-point-right {
        right: calc(-5vw - 28px);
    }
}



/* Portfolio */

#portfolio {
    padding-bottom: 100px;
}

.portfolio-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 100%;
    gap: 2rem;
}

.portfolio-card-container .card {
    width: 300px;
    min-width: auto;
}

.project-image-container {
    margin: 1rem auto 0;
}

.project-image-container, .project-image-container img {
    width: 270px;
    height: 175px;
    border-radius: 0.25rem;
    object-fit: cover;
}

.card-info {
    padding: 0 10px 10px
}

.port-buttons {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}