/* Global */

a {
    text-decoration: none;
    color: inherit;
}

p a {
    font-weight: 600;
}

.center-align-objects,
.center-objects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.center-objects {
    justify-content: space-between;
}

section {
    padding: 94px 0;
}

.card {
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 0.8rem;
    background-color: rgba(0,0,0,0) !important;
}

/* Colors */

body {
    background-color: #262626;
    color: #fafafa;
}

#skills i, #portfolio h4, .nav-link:hover, #resume .card i{
    color: #04d9ff !important;
}

#portfolio .card:hover, .social-icon {
    background-color: #04d9ff !important;
}

#portfolio .card:hover a, #portfolio .card:hover p, #portfolio .card:hover h4, .social-icon:hover {
    color: #000 !important;
}

/* Navbar */

.navbar {
    padding: 1.5rem 1rem;
    background-color: #161616 !important;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-nav {
    padding-top: 1.5rem;
    margin-left: 2rem;
    width: 100%;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.nav-link {
    color: #fafafa !important;
}

@media (min-width: 768px) {
    .navbar-nav {
        padding-top: 0;
        font-size: 1.2rem;
    }

    .navbar-expand-md .navbar-collapse {
        flex-direction: column;
        align-items: flex-end;
    }
}

/* Introduction */

#introduction {
    padding-top: 94px;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

#introduction .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.image-card {
    display: inline-block;
    position: relative;
    height: 350px;
    width: 260px;
    margin-bottom: 3rem;
}

.image-card img {
    height: inherit;
    width: inherit;
    object-fit: cover;
}

.image-card:after {
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    border-top: 10px solid #04d9ff;
    border-right: 10px solid #04d9ff;
    height: inherit;
    width: inherit;
}

.intro-info > * {
    text-align: center;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 5vw;
}

.buttons-container a {
    background-color: #262626;
    border: 2px solid #04d9ff;
    color: #04d9ff;
    border-radius: 50px;
    margin-top: 10px;
    padding: .7rem 1.2rem;
    font-size: 1.15rem;
}

.buttons-container a:hover {
    background-color: #04d9ff;
    color: #262626;
}

.social-link-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 10px;
    height: 100%
}

.social-icon {
    font-size: 2.2rem;
    width: 3.5rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
}

.social-icon i {
    width: inherit;
    line-height: 56px;
}

@media (min-width: 576px) {
    .image-card:after {
        top: -1.9rem;
        right: -2.2rem;
    }
    .image-card {
        width: 260px;
    }
    .intro-info > * {
        text-align: initial;
    }
}

@media (min-width: 768px) {
    #introduction {
        padding-top: 186px;
    }
    .intro-info {
        max-width: 50vw;
    }
}

/* Skills */

#skills {
    clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 95%);
}

.skills-category {
    max-width: 300px;
    margin: 0 auto;
}

#skills h3 {
    text-align: center
}

#skills ul {
    list-style-type: none;
}

@media (min-width: 768px) {
    #skills li {
        margin-left: 30px;
    }
}

/* Resume */

#resume .card {
    padding: 15px;
    border: 1px ridge #fafafa;
}

.resume-card-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 4vw 0;
    position: relative;
}

.timeline-point-left,
.timeline-point-right {
    display: none !important;
}

@media (min-width: 576px) {
    .timeline-left {
        padding-left: 5vw;
    }

    .timeline-right {
        padding-right: 5vw;
    }

    .timeline-point-left,
    .timeline-point-right {
        display: inline-block !important;
        position: absolute;
        font-size: 2.5rem;
        bottom: calc(50% - 10px);
    }

    .timeline-point-left {
        left: calc(-5vw - 28px);
    }

    .timeline-point-right {
        right: calc(-5vw - 28px);
    }
}



/* Portfolio */

#portfolio h2 {
    margin: 0 auto 3rem;
}

#portfolio hr {
    height: 5px;
}

.portfolio-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    gap: 2rem;
}

.portfolio-card-container .card {
    width: 300px;
    min-width: auto;
    transition: .4s ease-in-out;
    border: 2px groove #333333;
}

.portfolio-card-container .card:hover {
    transform: scale(1.15);
}

.project-image-container {
    margin: 1rem auto 0;
    overflow: hidden;
}

.project-image-container,
.project-image-container img {
    width: 270px;
    height: 175px;
    object-fit: cover;
}

.card-info {
    padding: 0 10px 10px
}

.port-buttons {
    padding: 1rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Footer */

footer {
    display: flex;
    min-height: 300px !important;
    background-color: #161616;
    align-items: center;
}

footer .container > * {
    margin: 2rem 0;
}

footer .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

footer p {
    margin-bottom: 0;
}

@media (min-width: 576px) {
    footer .container > * {
        margin: 0;
    }
    footer .container {
        flex-direction: row;
        padding-bottom: .5rem;
    }
    footer {
        min-height: 200px !important;
    }
}